@font-face {
    font-family: perfect-futures;
    src: url("static/PerfectFutures.ttf");
}

@font-face {
    font-family: futura;
    src: url("static/Futura\ Book\ font.ttf");
}

body, html {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("./static/mountains.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100%;
    -ms-overflow-style: none; /*for Internet Explorer, Edge*/
    scrollbar-width: none; /*for Firefox*/
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding-bottom: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.intro {
    font-size: xx-large;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
}

.intro h3{
    font-size: x-large;
}

.edu {
    scroll-snap-align: start;
    height: 100vh;
}

#education {
    text-align: center;
    padding-top: 5%;
    /* height: 100vh; */
}

.occ, .ucsc {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.occ h1 , .ucsc h1{
    text-align: center;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-self: center;
    gap: 5%;
    margin-bottom: 70px;
    font-family: futura;
}

.description p {
    font-size: x-large;
    width: 500px;
}

.description ul {
    font-size: x-large;
    margin-left: 5%;
}

#contact {
    text-align: center;
}

#profile_pic {
    height: 60%;
    width: 25%;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#name {
    align-self: center;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.contact a{
    color: white;
    text-decoration: none;
}

.contact a:hover {
    opacity: 0.7;
}

.resume {
    text-align: center;
    margin-bottom: 50px;
}

.container {
    scroll-snap-align: start;
    padding-top: 3%;
    padding-bottom: 1%;
}

.projects h1 {
    text-align: center;
}

.projects span {
    font-family: perfect-futures;
    text-align: center;
    font-size: xx-large;
    display: table;
    margin: 0 auto;
    margin-bottom: 2%;
    box-shadow: inset 0 0 0 0 whitesmoke;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.projects span:hover {
    box-shadow: inset 300px 0 0 0 whitesmoke;
    color: rgb(87, 87, 87);
    cursor: default;
}

.description-images {
    width: 90%;
    height: 100%;
    border-radius: 20px;
}